/* Reset the nonsense */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #1f1f1f;
    background: linear-gradient(135deg, #e0f2ff, #ffd6e8);
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 4rem 8rem;
}
.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-text h2 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 1.5rem;
}

.hero-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}
.hero-image img {
  width: 600px;
  height: 400px;
  object-fit: cover;

  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(119, 54, 11, 0.89);
}
/* Projects Section */
.projects {
  padding: 6rem 8rem;
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}

.project-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  padding: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-card p {
  font-size: 1rem;
  color: #555;
}
.project-subtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  z-index: 1000;
  
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
.modal-content img {
  display: block;
  margin: 1.5rem auto;

  max-width: 100%;
  max-height: 350px;
  object-fit: contain;
  border-radius: 12px;
}
.modal-content {
  background: linear-gradient(135deg, #ffd6e8, #e0f2ff);
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;

  margin: 5vh auto;
  padding: 3rem;
  border-radius: 20px;
  position: relative;
}
.modal-content h1{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.modal-backdrop {
  position: absolute;
  inset: 0;
  cursor: pointer;
}
.modal-content {
  position: relative;
  z-index: 2;
}




.coming-soon {
  margin-top: 2rem;
  font-style: italic;
  color: #888;
}


@media (max-width: 900px) { 
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 3rem 2rem;
  }

  .hero-image {
    margin-top: 2rem;
  }
  
}
